#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3
#define FUN  4
#define MEDIA 5
#define MOUSE 6

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

&mmv {
    time-to-max-speed-ms = <680>;
    acceleration-exponent = <2>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <2 13>;
            layers = <0 1 2 3 4>;
        };

        to_sym1 {
            bindings = <&to 3>;
            key-positions = <1 4>;
        };

        to_nav {
            bindings = <&to 5>;
            key-positions = <14 25>;
        };

        to_base {
            bindings = <&to 0>;
            key-positions = <11 13>;
            layers = <1 2 3 4 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
           &kp P  &kp W  &kp R  &kp A      &kp F          &kp Y  &kp U  &kp I                 &kp O    &kp P
           &kp D  &kp T  &kp H  &kp E      &kp O          &kp H  &kp J  &kp K                 &kp L    &kp SEMICOLON
&sk LSHFT  &kp Y  &kp S  &kp N  &kp I      &kp U          &kp N  &kp M  &kp COMMA             &kp DOT  &kp FSLH       &kp BACKSLASH
                         &mo 2  &kp ENTER  &lt 3 SPACE    &mo 2  &mo 3  &mt LEFT_CONTROL TAB
            >;
        };

        frog {
            bindings = <
         &kp J  &kp M  &kp B  &kp Q      &sk LGUI     &trans  &trans  &trans  &trans  &trans
         &kp V  &kp C  &kp L  &kp Z      &sk LCTRL    &trans  &trans  &trans  &trans  &trans
&kp TAB  &kp X  &kp G  &kp K  &kp COMMA  &sk LALT     &trans  &trans  &trans  &trans  &trans  &trans
                       &none  &none      &none        &trans  &trans  &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
         &kp NUMBER_1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8         &kp N9  &kp N0
         &kp N6        &kp N7  &kp N8  &kp N9  &kp N0    &none   &none   &none          &none   &none
&kp TAB  &none         &none   &none   &none   &none     &none   &none   &none          &none   &none   &none
                               &none   &none   &none     &mo 2   &mo 3   &mt LCTRL TAB
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
               &kp GRAVE      &kp HASH    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp CARET        &kp CARET  &kp AMPERSAND     &kp STAR           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
               &kp BACKSLASH  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS         &kp EQUAL  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp SINGLE_QUOTE      &kp QUESTION
&kp SEMICOLON  &kp SLASH      &kp TILDE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AMPERSAND    &kp MINUS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DOUBLE_QUOTES     &kp SLASH              &trans
                                          &none                 &none                  &to 4            &mo 2      &mo 3             &mt LCTRL TAB
            >;
        };

        Sym2_layer {
            bindings = <
           &kp EXCLAMATION  &kp UNDERSCORE    &kp MINUS      &kp SQT            &kp MINUS       &none  &none  &none  &none  &none
           &kp PIPE         &kp PERIOD        &kp SEMICOLON  &kp DOUBLE_QUOTES  &kp EQUAL       &none  &none  &none  &none  &none
&kp COLON  &kp LESS_THAN    &kp GREATER_THAN  &kp PERCENT    &kp ASTERISK       &kp QUESTION    &none  &none  &none  &none  &none  &none
                                              &none          &none              &none           &none  &none  &none
            >;
        };

        NAV_layer {
            bindings = <
           &kp LA(N1)  &kp LA(N2)  &kp LA(N3)      &kp LA(N4)  &kp LA(N5)    &none    &none  &none  &none  &none
           &kp LA(N6)  &kp LA(N7)  &kp LA(N8)      &kp LA(N9)  &kp LA(N0)    &kp ESC  &none  &none  &none  &none
&kp LA(Q)  &none       &kp LA(F)   &none           &none       &none         &kp ESC  &none  &none  &none  &none  &none
                                   &kp LEFT_SHIFT  &none       &to 0         &none    &none  &none
            >;
        };
    };
};
